.places {
    display: block;
}

.places h1 {
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5a5F;
    border-radius: 4px;
    display: inline-block;
}

.places h2 {
    text-align: center;
}

.places .suite {
    margin-left: 25%;
}